.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

*.dll
*.exe
*.pdb
*.cache
*.log
*.tlog
*.vspscc

Migrations/*Snapshot.cs

secrets.json
appsettings.Development.json

.idea/
*.sln.iml

.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/
