@page "/peliculas/editar/{Id:int}"
@inject NavigationManager navigationManager

<h3>Editar Película</h3>

@if (pelicula is null)
{
    <Cargando />
}
else
{
    <FormularioPelicula FormularioEnviadoConExito="formularioEnviadoConExito" EnvioEnCurso="envioEnCurso"
        FormularioInvalido="false" OnValidSubmit="Editar" Pelicula="pelicula"
        GenerosNoSeleccionados="GenerosNoSeleccionados" GenerosSeleccionados="GenerosSeleccionados"/>
}

@code {
    [Parameter] public int Id { get; set; }
    private Pelicula pelicula = null!;
    private bool formularioEnviadoConExito = false;
    private bool envioEnCurso = false;
    private List<Genero> GenerosSeleccionados { get; set; } = [];
    private List<Genero> GenerosNoSeleccionados { get; set; } = [];

    protected override void OnInitialized()
    {
        pelicula = new()
        {
            Id = Id,
            Titulo = "Peli 1",
            FechaLanzamiento = new DateTime(2010, 05, 25),
            EnCartelera = true,
            Trailer = "abc",
            PosterUrl = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Brandon_Clarke_in_2020.jpg/960px-Brandon_Clarke_in_2020.jpg"
        };

        GenerosNoSeleccionados = new List<Genero>()
        {
            new Genero(){Id = 1, Nombre = "Comedia"},
            new Genero(){Id = 2, Nombre = "Drama"},
            new Genero(){Id = 3, Nombre = "Acción"},
        };

        GenerosSeleccionados = new List<Genero>()
        {
            new Genero(){Id = 4, Nombre = "Sci-fi"}
        };
    }

    private async Task Editar()
    {
        envioEnCurso = true;
        Console.WriteLine($"Editando la película: {pelicula.Titulo}");
        await Task.Delay(2000);
        envioEnCurso = false;
        formularioEnviadoConExito = true;
        StateHasChanged();
        navigationManager.NavigateTo($"/peliculas/{Id}");
    }
}
